.loginsignup {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
    margin-bottom: 70px;
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    padding: 80px 60px;
    border-radius: 10px;
}

.loginsignup-container h1 {
    margin: 20px 0;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 29px;
}

.loginsignup-fields input {
    height: 51px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #867a7a;
    font-size: 16px;
}

.loginsignup-container button {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
    height: 52px;
    color: #fff;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.loginsignup-container button:hover {
    opacity: 0.75;
}

.loginsignup-login {
    font-weight: 500;
    letter-spacing: 1.2px;
}

.loginsignup-login span {
    color: #ff4141;
}

.loginsignup-login .loginsignup-agree {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.loginsignup-login .loginsignup-agree p {
    font-size: 15px;
}